<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js" integrity="sha512-GQ3aaCTQty4Iq5QrAtKpzomUSNz3sJpWOUxxJoZW4PYAKsckw49SMVaAykMh4SopX87eVGrxf9yOat27echN1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>